
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

input,
textarea {
    font-family: 'Poppins', sans-serif;
    outline: none;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/photos/legal-advice-online-labor-law-concept-layer-or-notary-working-picture-id1287244680?k=20&m=1287244680&s=170667a&w=0&h=wDxTqMWSaSRyQKO6tj4aY_Sr1t7J0OI165ptO3u2TD8=' );
    background-position: left;
    background-size: cover;
    
}


nav {
    background-color: white;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
}

#logo {
    width: 40px;
}

.menu-item {
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-right: 24px;
    cursor: pointer;
    font-weight: 100px;
    text-decoration: none;
}

.dropdown-wrapper {
    display: inline-block;
    position: relative;
}

.dropdown-wrapper:hover .dropdown {
    display: block;
}

.dropdown {
    width: 150px;
    border-top: 2px solid rgb(170, 210, 54);
    padding: 20px;
    position: absolute;
    right: 24px;
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    display: none;
}

.dropdown a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
}

.dropdown a:last-of-type {
    border: 0;
}
.menu-item{
    font-size: 25px;
}

.menu-item:hover{
    border-radius: 10px;
    background-color: #aabecd;
    padding: 10px;
    
}

.primary-button {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(218, 218, 224);
    padding: 9px 34px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
    
}
#Btn1{
    text-decoration: none;
}

@media screen and (max-width:767px) {}
#landing-section {
    width: 100%;
    height: 100vh;
}

#main-text-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-text-wrapper h1 {
    width: 100%;
    max-width: 1100px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}

#main-text-wrapper p {
    width: 100%;
    max-width: 1100px;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: black;
    text-align: center;
    padding-bottom: 32px;
    
}



/* STEPS SECTION STYLES START */
#steps-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.step-item {
    width: 25%;
    padding: 112px 48px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}


.step-item h3 {
    font-weight: 600;
    font-size: 24px;
}

.step-item p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-top: 0;
}

#first-step {
    background-color:rgb(35, 75, 95);
}

#second-step {
    background-color: #1b2d3f;
}

#third-step {
    background-color: #071120;
}

#fourth-step {
    background-color: #161738;
}

#follow-section {
    display: flex;
    justify-content: stretch;
}

#left-section {
    width: 67%;
    display: inline-block;
    margin: 0;
    background-color: #01070a;
    font-size: 25px;
    color: #aabecd;
    
   
}
#left-section p{
    margin-left: 25px;
}

#left-section img {
    width: 100%;
}

#right-section {
    width: 33.33%;
    margin: 0;
    display: inline-block;
    background-image: url('https://blog.malwarebytes.com/wp-content/uploads/2019/03/shutterstock_622185269.jpg');
    background-position: left;
    background-size: cover;
}

#right-section #text-wrapper {
    margin: 115px;
}

#right-section #text-wrapper h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 8px;
}

#right-section #text-wrapper p {
    color: #010106;
    font-size: 20px;
    letter-spacing: 0.5;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    padding-bottom: 100%;
}

#address-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

#address-wrapper>div {
    width: 50%;
}

#address-wrapper>div:last-of-type {
    width: 40%;
}

.green-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

.section-heading {
    font-size: 600;
    font-size: 44px;
    margin: 0;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
}

.address-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 32px;
}

.address-lines {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
}

.input-box {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#btn-submit {
    font-size: 16px;
    color: black;
}


footer {
    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
}
